---
title: "Team"
layout: default
excerpt: "RT2 Lab: Team members"
sitemap: false
permalink: /team/
---

<h1 class="team-title">{{page.title}}</h1>

<!-- =========================
         TEAM SUPERVISOR 
========================= -->

<h2><a id="team-supervisor"></a>Team Supervisor</h2>

{% assign members = site.posts | where: 'category', 'Team Supervisor' | sort: 'date' %}
{% for member in members %}
<div class="team-card">
         
    <div class="team-card-row">
             
        <!-- IMAGE -->
        <div class="team-image">
            <a href="{{ member.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                     class="team-photo"/>
            </a>
        </div>

        <!-- INFO -->
        <div class="team-info">
            <h4 class="team-name">{{ member.title }}</h4>
            <p class="team-role">{{ member.role }}</p>
        </div>

    </div>

</div>
{% endfor %}

<!-- =========================
         PhDs
========================= -->

<h2 id="phds" class="team-section-title">PhDs</h2>

{% assign members = site.posts | where: 'category', 'phds' | sort: 'date' %}
{% for member in members %}
<div class="team-card">

    <div class="team-card-row">

        <!-- IMAGE -->
        <div class="team-image">
            <a href="{{ member.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                     class="team-photo"/>
            </a>
        </div>

        <!-- INFO -->
        <div class="team-info">
            <h4 class="team-name">{{ member.title }}</h4>
            <p class="team-role">{{ member.role }}</p>
        </div>

    </div>

</div>
{% endfor %}


<!-- =========================
         STUDENTS
========================= -->

<h2 id="student" class="team-section-title">Students</h2>

{% assign members = site.posts | where: 'category', 'student' | sort: 'date' %}
{% for member in members %}
<div class="team-card">

    <div class="team-card-row">

        <!-- IMAGE -->
        <div class="team-image">
            <a href="{{ member.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                     class="team-photo"/>
            </a>
        </div>

        <!-- INFO -->
        <div class="team-info">
            <h4 class="team-name">{{ member.title }}</h4>
            <p class="team-role">{{ member.role }}</p>
        </div>

    </div>

</div>
{% endfor %}
