---
title: "Team"
layout: default
excerpt: "RT2 Lab: Team members"
sitemap: false
permalink: /team/
---
<h1 class="team-title">{{page.title}}</h1>

<!-- =========================
         TEAM Lead 
========================= -->

<h2><a id="team-lead"></a>Team Lead</h2>

{% assign members = site.posts | where: 'category', 'Team Lead' | sort: 'date' %}
{% for member in members %}
<div class="team-card">
         
    <div class="team-card-row">
             
        <!-- IMAGE -->
        <div class="team-image">
            <a href="{{ member.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                     class="team-photo"/>
            </a>
        </div>

        <!-- INFO -->
        <div class="team-info">
            <h4 class="team-name">   <a href="{{ member.url }}">     {{ member.title }}   </a> </h4>
            <p class="team-role">{{ member.role }}</p>
        </div>

    </div>

</div>
{% endfor %}

<!-- =========================
         postdoctorals
========================= -->

<h2 id="postdoctorals" class="team-section-title">Postdoctorals</h2>

{% assign members = site.posts | where: 'category', 'postdoctorals' | sort: 'date' %}
{% for member in members %}
<div class="team-card">

    <div class="team-card-row">

        <!-- IMAGE -->
        <div class="team-image">
            <a href="{{ member.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                     class="team-photo"/>
            </a>
        </div>

        <!-- INFO -->
        <div class="team-info">
            <h4 class="team-name">   <a href="{{ member.url }}">     {{ member.title }}   </a> </h4>
            <p class="team-role">{{ member.role }}</p>
        </div>

    </div>

</div>
{% endfor %}

<!-- =========================
         PhDs
========================= -->

<h2 id="phds" class="team-section-title">PhDs</h2>

{% assign members = site.posts | where: 'category', 'phds' | sort: 'date' %}
{% for member in members %}
<div class="team-card">

    <div class="team-card-row">

        <!-- IMAGE -->
        <div class="team-image">
            <a href="{{ member.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                     class="team-photo"/>
            </a>
        </div>

        <!-- INFO -->
        <div class="team-info">
            <h4 class="team-name">   <a href="{{ member.url }}">     {{ member.title }}   </a> </h4>
            <p class="team-role">{{ member.role }}</p>
        </div>

    </div>

</div>
{% endfor %}

<!-- =========================
         Research Assistants
========================= -->

<h2 id="research-assistants" class="team-section-title">Research Assistants</h2>

{% assign members = site.posts | where: 'category', 'research-assistants' | sort: 'date' %}
{% for member in members %}
<div class="team-card">

    <div class="team-card-row">

        <!-- IMAGE -->
        <div class="team-image">
            <a href="{{ member.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                     class="team-photo"/>
            </a>
        </div>

        <!-- INFO -->
        <div class="team-info">
            <h4 class="team-name">   <a href="{{ member.url }}">     {{ member.title }}   </a> </h4>
            <p class="team-role">{{ member.role }}</p>
        </div>

    </div>

</div>
{% endfor %}

<!-- =========================
         Current visitors
========================= -->

<h2 id="current-visitors" class="team-section-title">Current visitors</h2>

{% assign members = site.posts | where: 'category', 'current-visitors' | sort: 'date' %}
{% for member in members %}
<div class="team-card">

    <div class="team-card-row">

        <!-- INFO -->
        <div class="team-info">
            <h4 class="team-name">{{ member.title }}</h4>
            <p class="team-role">{{ member.role }}</p>
        </div>

    </div>

</div>
{% endfor %}

<!-- =========================
         Alumni
========================= -->

<h2 id="alumni" class="team-section-title">Alumni</h2>

{% assign members = site.posts | where: 'category', 'alumni' | sort: 'date' %}
{% for member in members %}
<div class="team-card">

    <div class="team-card-row">

        <!-- INFO -->
        <div class="team-info">
            <h4 class="team-name">{{ member.title }}</h4>
            <p class="team-role">{{ member.role }}</p>
        </div>

    </div>

</div>
{% endfor %}
