---
title: "Team"
layout: default
excerpt: "RT2 Lab: Team members"
sitemap: false
permalink: /team/
---

<h1 class="team-title">{{page.title}}</h1>

<!-- =========================
         TEAM SUPERVISOR 
========================= -->

<h2><a id="team-supervisor"></a>Team Supervisor</h2>

{% assign members = site.posts | where: 'category', 'Team Supervisor' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href="{{ member.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                     class="card-img img-responsive img-thumbnail"
                     style="max-width: 150px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
                <h4 class="card-title">{{ member.title }}</h4>
                <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- =========================
         STAFF
========================= -->

<h2 id="staff" class="team-section-title">Staff</h2>

{% assign members = site.posts | where: 'category', 'staff' | sort: 'date' %}
{% for member in members %}
<div class="team-card">

    <div class="team-card-row">

        <!-- IMAGE -->
        <div class="team-image">
            <a href="{{ member.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                     class="team-photo"/>
            </a>
        </div>

        <!-- INFO -->
        <div class="team-info">
            <h4 class="team-name">{{ member.title }}</h4>
            <p class="team-role">{{ member.role }}</p>
        </div>

    </div>

</div>
{% endfor %}


<!-- =========================
         STUDENTS
========================= -->

<h2 id="student" class="team-section-title">Students</h2>

{% assign members = site.posts | where: 'category', 'student' | sort: 'date' %}
{% for member in members %}
<div class="team-card">

    <div class="team-card-row">

        <!-- IMAGE -->
        <div class="team-image">
            <a href="{{ member.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                     class="team-photo"/>
            </a>
        </div>

        <!-- INFO -->
        <div class="team-info">
            <h4 class="team-name">{{ member.title }}</h4>
            <p class="team-role">{{ member.role }}</p>
        </div>

    </div>

</div>
{% endfor %}
