<div id="footer" class="footer-section">
  <div class="container-fluid footer-container">

    <div class="row">

      <!-- Lab identity -->
      <div class="col-md-4 footer-col">
        <h4>{{ site.title }}</h4>
        <p>
          SMART Life Cycle Engineering Lab<br>
          University of Southern Denmark
        </p>

        <img src="{{ site.baseurl }}/images/logo/logo.png"
             alt="Team logo"
             style="max-width:120px; margin-top:10px;">
      </div>

      <!-- Navigation -->
      <div class="col-md-4 footer-col">
        <h4>Site Navigation</h4>
        <ul class="footer-links">
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/research">Research</a></li>
          <li><a href="{{ site.baseurl }}/team">Team</a></li>
          <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
          <li><a href="{{ site.baseurl }}/news">News</a></li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-md-4 footer-col">
        <h4>Contact</h4>
        <p>
          SMART Life Cycle Engineering Lab<br>
          Department of Green Technology<br>
          University of Southern Denmark<br>
          Odense, Denmark
        </p>

        <p>
          Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
      </div>

    </div>

    <hr>

    <div class="row">
      <div class="col-md-12 text-center">
        <p class="footer-copy">
          © {{ site.time | date: "%Y" }} {{ site.title }} – University of Southern Denmark
        </p>
      </div>
    </div>

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
